@import "~bootstrap/scss/bootstrap";

.title {
  margin-bottom: 60px;
}

.collapsed {
  color: #000;
}

.nav-link {
  color: #6693F5;
}

.form {
  &-input {
    margin-bottom: 20px;

    &-title {
      margin-bottom: 20px;
      color: #6693F5;
      font-size: 20px;
    }
  }
}